<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>task3Test.Task3Test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>countAllCandidates</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addCandidate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>goToRecruitmentPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchOption</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setupSelenium</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
