<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="616ca2">  <td>21/08/27 07:44:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Task3Test.setupSelenium()[pri:0, instance:task3Test.Task3Test@6d78f375]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>21/08/27 07:44:35</td>   <td>19680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Task3Test.searchOption()[pri:0, instance:task3Test.Task3Test@6d78f375]">searchOption</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>21/08/27 07:44:43</td>   <td>27294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Task3Test.goToRecruitmentPage()[pri:1, instance:task3Test.Task3Test@6d78f375]">goToRecruitmentPage</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>21/08/27 07:44:43</td>   <td>27775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Task3Test.countAllCandidates()[pri:2, instance:task3Test.Task3Test@6d78f375]">countAllCandidates</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>21/08/27 07:44:43</td>   <td>27837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Task3Test.addCandidate()[pri:3, instance:task3Test.Task3Test@6d78f375]">addCandidate</td> 
  <td>main@892529689</td>   <td></td> </tr>
</table>
