<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAll</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a263c2">  <td>19/02/22 20:49:32</td>   <td>0</td> <td title="&lt;&lt;LoginTestPage.closeSelenium()[pri:0, instance:primeri18.LoginTestPage@7d3a22a9]">&lt;&lt;closeSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1264213713</td>   <td></td> </tr>
<tr bgcolor="a263c2">  <td>19/02/22 20:48:49</td>   <td>-43199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestPage.login()[pri:0, instance:primeri18.LoginTestPage@7d3a22a9]">login</td> 
  <td>main@1264213713</td>   <td></td> </tr>
<tr bgcolor="f4bfa1">  <td>19/02/22 20:49:25</td>   <td>-7476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogoutTest.logout()[pri:0, instance:primeri18.LogoutTest@1d082e88]">logout</td> 
  <td>main@1264213713</td>   <td></td> </tr>
<tr bgcolor="a263c2">  <td>19/02/22 20:48:43</td>   <td>-49398</td> <td title="&gt;&gt;LoginTestPage.setupSelenium()[pri:0, instance:primeri18.LoginTestPage@7d3a22a9]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1264213713</td>   <td></td> </tr>
<tr bgcolor="f4bfa1">  <td>19/02/22 20:49:25</td>   <td>-7476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogoutTest.setupSelenium()[pri:0, instance:primeri18.LogoutTest@1d082e88]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td>  <td>main@1264213713</td>   <td></td> </tr>
</table>
